



<h1>{{title}}</h1>
<div class="container">


    <div class="content">
        <table class="table table-hover">
              <thead>
                  <tr>
                     <th>Name</th>
                     <th>Birthdate</th>
                     <th>Father Name</th>
                  </tr>
              </thead>
                  <tbody>
                  {{#each parents}}
                    <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.birthdate}}</td>
                    <td>{{this.father}}</td>
                    </tr>
                  {{/each}}
              </tbody>
        </table>
    </div>
</div>

<div id="example"></div>

<script type="text/babel">
    var CommentBox = React.createClass({
        								render: function() {
                             								return (
                                      								<div className="commentBox">
                                       								   <h1>{{name}}!</h1>
                                                         <p>{{title}}</p>
                                      								</div>
                                    								);
                            								}
                            			});
    ReactDOM.render(
        			<CommentBox />,
        			document.getElementById('example')
      				);
</script>
